<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src * data: grap: 'unsafe-inline' 'unsafe-eval'"> <!-- Prevent whitelist messages on Android. Note, don't use this is in a production app! -->

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">

    <style>
      small { font-size: 12px; }
      .strikethrough { text-decoration: line-through !important; }
      .log .item { padding: 0; font-size: 12px; }
      .log .item-body { padding: 5px; }
    </style>

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ng-cordova-bluetoothle/ng-cordova-bluetoothle.js"></script>
    <script src="lib/js-md5/js/md5.min.js"></script>

    <script src="cordova.js"></script>

    <script src="index.js"></script>
  </head>

  <body ng-app="myApp">

    <ion-nav-view></ion-nav-view>

    <script type=text/ng-template id=tabs.html>
      <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <ion-tab title="Central" icon-off="ion-bluetooth" icon-on="ion-bluetooth" ui-sref="tab.central">
          <ion-nav-view name="tab-central"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Peripheral" icon-off="ion-bluetooth" icon-on="ion-bluetooth" ui-sref="tab.peripheral">
          <ion-nav-view name="tab-peripheral"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Examples" icon-off="ion-wrench" icon-on="ion-wrench" ui-sref="tab.examples">
          <ion-nav-view name="tab-examples"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Log" icon-off="ion-document" icon-on="ion-document" ui-sref="tab.log">
          <ion-nav-view name="tab-log"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </script>

    <script type=text/ng-template id=central.html>
      <ion-view>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">Central</h1>
        </ion-header-bar>
        <ion-content>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="initialize()">Intialize</a></div>
            <div class="col"><a class="button button-energized button-small" ng-click="enable()">Enable</a></div>
            <div class="col"><a class="button button-energized button-small" ng-click="disable()">Disable</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="startScan()">Start Scan</a></div>
            <div class="col"><a class="button button-energized button-small" ng-click="stopScan()">Stop Scan</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="retrieveConnected()">Retrv Connected</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="isInitialized()">Is Initialized</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="isEnabled()">Is Enabled</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="isScanning()">Is Scanning</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="hasPermission()">Has Permission</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="requestPermission()">Request Permission</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="isLocationEnabled()">Is Location Enabled</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="requestLocation()">Request Location</a></div>
          </div>
          <div ng-hide="isEmpty(devices)" ng-cloak>
            <h4>Devices <a class="button button-assertive button-small" ng-click="clear()">Clear</a></h4>
            <ion-list>
              <ion-item ng-repeat="device in devices track by device.address" ng-click="goToDevice(device)" class="item-icon-right">
                {{device.name | null}}
                <div><small>&lt;{{device.address}}&gt;</small></div>
                <i class="icon ion-chevron-right"></i>
                <ion-option-button class="button-assertive" ng-click="delete(device.address)">Delete</ion-option-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type=text/ng-template id=device.html>
      <ion-view>
        <ion-nav-bar>
          <ion-nav-back-button>
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">{{selectedDevice.name | null}}</h1>
        </ion-header-bar>
        <ion-content>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="connect(selectedDevice.address)">Connect</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="reconnect(selectedDevice.address)">Reconnect</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-energized button-small" ng-click="disconnect(selectedDevice.address)">Disconnect</a></div>
            <div class="col"><a class="button button-assertive button-small" ng-click="close(selectedDevice.address)">Close</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="discover(selectedDevice.address)">Discover</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="services(selectedDevice.address)">Services</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="wasConnected(selectedDevice.address)">Was Connected</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="isConnected(selectedDevice.address)">Is Connected</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="isDiscovered(selectedDevice.address)">Is Discovered</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="rssi(selectedDevice.address)">RSSI</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="mtu(selectedDevice.address)">MTU</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="requestConnectionPriority(selectedDevice.address)">Request Connection Priority</a></div>
          </div>
          <ion-list>
            <ion-item ng-repeat="service in selectedDevice.services track by service.uuid" ng-click="goToService(service)">
              {{service.uuid}}
              <i class="icon ion-chevron-right"></i>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type=text/ng-template id=service.html>
      <ion-view>
        <ion-nav-bar>
          <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">{{selectedService.uuid}}</h1>
        </ion-header-bar>
        <ion-content>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="characteristics(selectedDevice.address, selectedService.uuid)">Characteristics</a></div>
          </div>
          <ion-list>
            <ion-item ng-repeat="characteristic in selectedService.characteristics track by characteristic.uuid" ng-click="goToCharacteristic(characteristic)">
              {{characteristic.uuid}}
              <i class="icon ion-chevron-right"></i>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type=text/ng-template id=characteristic.html>
      <ion-view>
        <ion-nav-bar>
          <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">{{selectedCharacteristic.uuid}}</h1>
        </ion-header-bar>
        <ion-content>
            <div class="row text-center">
              <div class="col">
                <a class="button button-balanced button-small" ng-click="descriptors(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid)">Descriptors</a>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <a class="button button-balanced button-small" ng-click="read(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid)" ng-class="{strikethrough:!selectedCharacteristic.properties.read}">Read</a>
              </div>
              <div class="col">
                <a class="button button-balanced button-small" ng-click="write(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid)" ng-class="{strikethrough:!selectedCharacteristic.properties.write}">Write</a>
              </div>
              <div class="col">
                <a class="button button-balanced button-small" ng-click="writeQ(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid)" ng-class="{strikethrough:!selectedCharacteristic.properties.write}">WriteQ</a>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <a class="button button-balanced button-small" ng-click="subscribe(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid)" ng-class="{strikethrough:!(selectedCharacteristic.properties.notify || selectedCharacteristic.properties.indicate)}">Subscribe</a>
              </div>
              <div class="col">
                <a class="button button-energized button-small" ng-click="unsubscribe(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid)" ng-class="{strikethrough:!(selectedCharacteristic.properties.notify || selectedCharacteristic.properties.indicate)}">Unsubscribe</a>
              </div>
            </div>
            <ion-list>
              <ion-item ng-repeat="descriptor in selectedCharacteristic.descriptors track by descriptor.uuid">
                {{descriptor.uuid}}
                <div class="row text-center">
                  <div class="col">
                    <a class="button button-balanced button-small" ng-click="readDescriptor(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid, descriptor.uuid)">Read</a>
                  </div>
                  <div class="col">
                    <a class="button button-balanced button-small" ng-click="writeDescriptor(selectedDevice.address, selectedService.uuid, selectedCharacteristic.uuid, descriptor.uuid)">Write</a>
                  </div>
                </div>
              </ion-item>
            </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type=text/ng-template id=peripheral.html>
      <ion-view>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">Peripheral</h1>
        </ion-header-bar>
        <ion-content>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="initializePeripheral()">Intialize Peripheral</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="addService()">Add Service</a></div>
            <div class="col"><a class="button button-assertive button-small" ng-click="removeService()">Remove Service</a></div>
            <div class="col"><a class="button button-assertive button-small" ng-click="removeAllServices()">Remove All Services</a></div>
          </div>
          <div class="row text-center">
            <div class="col"><a class="button button-balanced button-small" ng-click="startAdvertising()">Start Advertising</a></div>
            <div class="col"><a class="button button-assertive button-small" ng-click="stopAdvertising()">Stop Advertising</a></div>
            <div class="col"><a class="button button-balanced button-small" ng-click="isAdvertising()">Is Advertising</a></div>
          </div>
          <div ng-hide="isEmpty(centrals)" ng-cloak>
            <h4>Connected Centrals</h4>
            <ion-list>
              <ion-item ng-repeat="central in centrals track by centrals.address" class="item-icon-right">
                {{central.address}}
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type=text/ng-template id=examples.html>
      <ion-view>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">Examples</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item ng-click="throughputCentral()">
              Throughput (Central)
            </ion-item>
            <ion-item ng-click="throughputPeripheral()">
              Throughput (Peripheral)
            </ion-item>
            <ion-item ng-click="readAll()">
              Read All
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type=text/ng-template id=log.html>
      <ion-view>
        <ion-header-bar align-title="center" class="bar-positive">
          <h1 class="title">Log</h1>
          <div class="buttons">
            <button class="button" ng-click="clear()">Clear</button>
          </div>
        </ion-header-bar>
        <ion-content>
          <ion-list class="log">
            <ion-item collection-repeat="item in log" ng-click="show(item)">
              <div class="item-body">
                <strong>{{item.datetime}}</strong>: {{item.message}}
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

  </body>

</html>
