<barcode-listener on-scan='hidScan' prefix='P%' scan-duration='500'></barcode-listener>
<div class='mg-all-10 mg-all-10' layout='row'>
    <md-content class='rc over-hidden bod-blue bod-rad4' flex='60' flex-xs='100' flex-sm='50'>
        <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
            <div layout='row'>
                <div class="md-toolbar-tools min-hg" flex>
                    <h2 class="md-flex over-text">{{ttitle}}</h2>
                </div>
                <button class='btn btn-primary btn-mini' ng-click="openSide('cart')" show-xs hide-gt-xs resize-cart>
                    <i class="fa fa-shopping-cart fa-fw pad-t-5" aria-label="Shopping Cart"></i> <span class='txl-cp'>Rp {{subtotal}}</span>
                </button>
                <button class='btn btn-primary btn-mini' ng-click="refreshData()">
                    <i class="fa fa-refresh fa-fw" aria-label="Refresh Data"></i>
                </button>
            </div>
            <div class='bg-white-full ff-grey' layout='row'>
                <md-input-container md-no-float class='md-block wd-100 cl-mg-tb mg-t-10 mg-lr-20 ff-16'>
                    <md-icon class="fa fa-search fa-fw" aria-label="Search"></md-icon>
                    <input name="search" ng-model="searchTerm" class='ff-16' placeholder="Search...">
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content class='lvr-cnt cl-pad-all ff-16'>
            <div class='mg-tb-10 showProducts'>
                <span ng-if='type == 1'>
                    <div class='bod-tb pad-tb mg-lr-10 cl-mg-res layout-center' layout='row' ng-click='allitems()'>
                        <div class='btn btn-blue mg-r-10 ff-18'>
                            -
                        </div>
                        <p flex='70'>All Items</p>
                        <span flex></span>
                        <i class="fa fa-chevron-right fa-fw" aria-label="All Items"></i>
                    </div>
                    <div ng-repeat="r1 in pp | orderBy:'+category_name' | filter:searchTerm" class='bod-tb pad-tb mg-lr-10 cl-mg-res layout-center' layout='row' ng-click='products(r1.category_id)'>
                        <div class='btn btn-primary mg-r-10 ff-18'>
                            {{sname(r1.category_name)}}
                        </div>
                        <p flex='70'>{{r1.category_name}}</p>
                        <span flex></span>
                        <i class="fa fa-chevron-right fa-fw" aria-label="{{r1.category_name}}"></i>
                    </div>
                </span>
                <span ng-if='type == 2'>
                    <div ng-repeat="r1 in pp | orderBy:'+product_name' | filter:searchTerm" class='bod-tb-dash pad-tb mg-lr-10 cl-mg-res layout-center' layout='row' ng-click='addtocart(r1.product_id)'>
                        <span class="md-avatar" style='background: url("{{pic}}{{r1.product_info.image_url}}") no-repeat center center; background-size: contain;'></span>
                        <p flex='70'>{{r1.product_name}}</p>
                        <span flex></span>
                        <button class='btn btn-grey'>
                            <i class="fa fa-shopping-basket fa-fw" aria-label="{{r1.product_name}}"></i>
                        </button>
                    </div>
                </span>
                <span ng-if='type == 3'>
                    <div ng-repeat='r1 in pp | filter:searchTerm' class='bod-tb pad-tb mg-lr-10 cl-mg-res layout-center' layout='row' ng-click='backtocart(r1)'>
                        <div class="ff-16" flex='60'>
                            <i class="fa fa-shopping-cart fa-fw" aria-label="{{r1.id}}"></i> {{r1.name}}<br>
                            {{r1.id}}
                        </div>
                        <div class="ff-16 txl-right" flex='40'>
                            {{r1.date | date:'dd MMM yyyy'}}<br>
                            {{r1.date | date:'HH:mm:ss'}}
                        </div>
                    </div>
                </span>
            </div>
            <div class='mg-tb-10 showPackages disp-none'>
                <div ng-repeat="r1 in pp | orderBy:'+package_name' | filter:searchTerm" class='bod-tb-dash pad-tb mg-lr-10 cl-mg-res layout-center' layout='row' ng-click='addtocart(r1.package_id, true)'>
                    <div class='btn btn-primary mg-r-10 ff-18'>
                        {{sname(r1.package_name)}}
                    </div>
                    <p flex='70'>{{r1.package_name}}
                        <span class='over-text'>
                            <span ng-repeat='cc in r1.package_products' class='mg-r-5 ff-14 ff-grsoft ff-comma'>{{cc.product[0].product_name}} [{{cc.qty}}]</span>
                        </span>
                    </p>
                    <span flex></span>
                    <button class='btn btn-grey'>
                        <i class="fa fa-shopping-basket fa-fw" aria-label="{{r1.product_name}}"></i>
                    </button>
                </div>
            </div>
            <div class='mg-all-10 showFavorite disp-none'>
                <md-grid-list 
                    md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-lg="5" md-cols-gt-lg="6"
                    md-gutter-xs="4px" md-gutter-gt-xs="4px" md-row-height="1:1">
                    <md-grid-tile ng-repeat='r1 in pp | filter:searchTerm' class='bod-all' ng-click='addtocart(r1.product_id)'>
                        <span class="md-avatar" alt="{{r1.product_name}}" style='background: url("{{pic}}{{r1.product_info.image_url}}") no-repeat center center; background-size: contain;'></span>
                        <md-grid-tile-footer class='pad-tb-10 min-hg bg-white'>
                            <span class='cl-mg-all pad-lr-10 cl-black disp-block'>{{r1.product_name}}</span>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>
            <div class='mg-tb-10 showCprice pad-lr-10 disp-none'>
                <div layout='row'>
                    <input ng-model="cprice" class='wd-100 mg-b-10 pad-all-20 ff-20 txl-right bod-all' placeholder="0">
                </div>
                <div layout='row'>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber(1)' flex>1</span>
                    <span class='btn-primary ff-20 mg-lr-10 pad-all-20 bod-all txl-center' ng-click='csnumber(2)' flex>2</span>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber(3)' flex>3</span>
                </div>
                <div layout='row'>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber(4)' flex>4</span>
                    <span class='btn-primary ff-20 mg-lr-10 pad-all-20 bod-all txl-center' ng-click='csnumber(5)' flex>5</span>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber(6)' flex>6</span>
                </div>
                <div layout='row'>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber(7)' flex>7</span>
                    <span class='btn-primary ff-20 mg-lr-10 pad-all-20 bod-all txl-center' ng-click='csnumber(8)' flex>8</span>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber(9)' flex>9</span>
                </div>
                <div layout='row'>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csnumber()' flex>C</span>
                    <span class='btn-primary ff-20 mg-lr-10 pad-all-20 bod-all txl-center' ng-click='csnumber(0)' flex>0</span>
                    <span class='btn-primary ff-20 pad-all-20 bod-all txl-center' ng-click='csadd()' flex>+</span>
                </div>
            </div>
        </md-content>
        <md-toolbar class='lvr-tc2 cl-pad-all pad-lr-10'>
            <div class="list-inset cl-mg-lr mg-tb-10" layout='row'>
                <label class="item item-input wd-100">
                    <input type="text" id="xbarcode" ng-model="xbarcode" class="ff-20" ng-keyup="kbarcode(xbarcode)" placeholder="Barcode">
                    <i class="icon fa fa-barcode placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <span flex></span>
                <button class='btn btn-primary btn-mini cl-btn cl-bod-rad' ng-click='cbarcode()'>
                    <i class="fa ion-android-delete fa-fw ff-20" aria-label="Clean Barcode"></i>
                </button>
            </div>
        </md-toolbar>
    </md-content>
    <md-content class='rc over-hidden mg-l-10 bod-blue bod-rad4' flex='40' hide-xs flex-sm='50'>
        <md-toolbar class='lvr-t1 cl-pad-all min-hg'>
            <div layout='row'>
                <div class="md-toolbar-tools min-hg" flex>
                    <h2 class="md-flex over-text">{{accLog.user_fname}} {{accLog.user_lname}}</h2>
                </div>
                <button class='btn btn-primary btn-mini dropdown-toggle' data-toggle="dropdown">
                    <i class="fa fa-th-list fa-fw" aria-label="Sub Menu"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right min-wd txl-right ff-16 cl-pad-all" style='top: 47px;'>
                    <li><a ng-click='orderNew()'>New <i class="fa fa-file-o fa-fw" aria-label="New"></i></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click='orderSave()'>Save <i class="fa fa-save fa-fw" aria-label="Save"></i></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click='orderDraft()'>Draft <i class="fa fa-clipboard fa-fw" aria-label="Draft"></i></a></li>
                </ul>
            </div>
            <div class='bg-white-full ff-grey' layout='row'>
                <md-input-container md-no-float class='md-block wd-100 cl-mg-tb mg-t-10 mg-lr-20 ff-16'>
                    <md-icon class="fa fa-search fa-fw" aria-label="Search"></md-icon>
                    <input name="search" ng-model="searchCart" placeholder="Search...">
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content class='lvr-cart cl-pad-lr pad-tb-20 pad-lr-20 bg-white-full'>
            <div ng-repeat='cc in cart | filter:searchCart' class='bod-tb-dash pad-tb-4 cl-mg-res ff-16 layout-center' layout='row' ng-click='editCart(cc)'>
                <p flex='50'>
                    {{cc.product_name}}<br>
                    <span class='over-text' ng-if="cc.desc!=''">
                        <span class='mg-r-5 ff-14 ff-grsoft'>{{cc.desc}}</span>
                    </span>
                </p>
                <label class='mg-lr-20' flex='10'><button class='btn btn-grey ff-16'>x{{cc.qty}}</button></label>
                <label class='txl-right ff-16' flex='40'><span ng-if="cc.product_type == 'discount'">-</span> Rp {{valFormat(cc.product_sales_price*cc.qty)}}</label>
            </div>
        </md-content>
        <md-toolbar class='lvr-t2 cl-pad-all pad-lr-20'>
            <button class='btn btn-primary cl-mg-all pad-all-8' ng-click='clearsale()'>
                <label class='md-title cl-mg-tb'>Clear Sales</label>
            </button>
            <button class='btn btn-blue cl-btn cl-mg-all pad-all-10' ng-click="openSide('discharge')">
                <label class='md-headline cl-mg-tb'>Charge <span class='txl-cp'>Rp {{subtotal}}</span></label>
            </button>
        </md-toolbar>
    </md-content>
</div>
