<md-sidenav class="sd-cart md-sidenav-right md-whiteframe-4dp" md-component-id="cart">
    <md-toolbar class="sd-bar-cart md-theme-light">
        <div layout='row'>
            <h1 class="md-toolbar-tools">Shopping Cart</h1>
            <span flex></span>
            <span class='pad-tb-10 mg-r-10' ng-click="closeSide('cart')">
                <md-icon class="fa fa-times fa-fw pad-t-5" aria-label="Close Shopping Cart"></md-icon>
            </span>
        </div>
    </md-toolbar>
    <md-content class='sd-cn-cart over-hidden' layout-padding>
        <md-toolbar class='sd-t1 cl-pad-all min-hg'>
            <div layout='row'>
                <div class="md-toolbar-tools min-hg" flex>
                    <h2 class="md-flex over-text">{{accLog.user_fname}} {{accLog.user_lname}}</h2>
                </div>
                <button class='btn btn-primary btn-mini dropdown-toggle' data-toggle="dropdown">
                    <i class="fa fa-th-list fa-fw" aria-label="Sub Menu"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right min-wd txl-right ff-16 cl-pad-all" style='top: 47px;'>
                    <li><a ng-click='orderNew()'>New <i class="fa fa-file-o fa-fw" aria-label="New"></i></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click='orderSave()'>Save <i class="fa fa-save fa-fw" aria-label="Save"></i></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click='orderDraft()'>Draft <i class="fa fa-clipboard fa-fw" aria-label="Draft"></i></a></li>
                </ul>
            </div>
            <div class='bg-white-full ff-grey' layout='row'>
                <md-input-container md-no-float class='md-block wd-100 cl-mg-tb mg-t-10 ff-16'>
                    <md-icon class="fa fa-search fa-fw" aria-label="Search"></md-icon>
                    <input name="search" ng-model="searchCart" placeholder="Search...">
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content class='sd-cn cl-pad-lr pad-tb-20'>
            <div ng-repeat='cc in cart | filter:searchCart' class='bod-tb-dash pad-tb-4 mg-lr-10 cl-mg-res ff-16 layout-center' layout='row' ng-click='editCart(cc)'>
                <p flex='50'>
                    {{cc.product_name}}<br>
                    <span class='over-text' ng-if="cc.desc!=''">
                        <span class='mg-r-5 ff-14 ff-grsoft'>{{cc.desc}}</span>
                    </span>
                </p>
                <label class='mg-lr-20' flex='10'><button class='btn btn-grey ff-16'>x{{cc.qty}}</button></label>
                <label class='txl-right ff-16' flex='40'><span ng-if="cc.product_type == 'discount'">-</span> Rp {{valFormat(cc.product_sales_price*cc.qty)}}</label>
            </div>
        </md-content>
        <md-toolbar class='sd-t2 cl-pad-all'>
            <button class='btn btn-primary cl-mg-all pad-all-8' ng-click='clearsale()'>
                <label class='md-title cl-mg-tb'>Clear Sales</label>
            </button>
            <button class='btn btn-blue cl-btn cl-mg-all pad-all-10' ng-click="openSide('discharge')">
                <label class='md-headline cl-mg-tb'>Charge <span class='txl-cp'>Rp {{subtotal}}</span></label>
            </button>
        </md-toolbar>
    </md-content>
</md-sidenav>