<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="mainmenu">
    <md-content class='bg-green rel-pos'>
        <div class='abs-pos' layout="column" layout-align="center none">
            <button class='main-menu' ui-sref='dashboard'>
                <span>Dashboard</span>
                <i class="fa fa-th-large fa-fw" aria-label="Dashboard"></i>
            </button>
            <button class='main-menu' ui-sref='activity'>
                <span>Activity</span>
                <i class="fa fa-clock-o fa-fw" aria-label="Activity"></i>
            </button class='mainmn'>
            <button class='main-menu' ui-sref='setting'>
                <span>Setting</span>
                <i class="fa fa-gear fa-fw" aria-label="Setting"></i>
            </button>
            <button class='main-menu' ng-controller='logCtrl' ng-click='logout()'>
                <span>Logout</span>
                <i class="fa fa-sign-out fa-fw" aria-label="Logout"></i>
            </button>
        </div>
    </md-content>
</md-sidenav>