<ion-view class='bg-login' cache-view="false" view-title="{{htitle}}" check-All>
    <md-toolbar class='toolbar1'>
        <div layout='row' class='box-menu pad-l-20'>
            <div class='bg-logo'>
                <div class='logo'></div>
            </div>
            <div class='title over-text' ng-if='type == 1'>{{htitle}}</div>
            <div class='title over-text' ng-if='type == 2 || type == 3' ng-click='categories()'><i class="fa fa-chevron-left fa-fw mg-r-10"></i>{{htitle}}</div>
            <span flex></span>
            <button class='btn btn-primary btn-menu ff-maroon cl-bod-rad' ng-click="openSide('mainmenu')">
                <i class="fa fa-bars fa-fw pad-t-5" aria-label="Main Menu"></i>
            </button>
        </div>
    </md-toolbar>
    
    <md-content class='over-hidden bg-grey' resize-content>
        <div class="slide-animate" ng-include="content.url1"></div>
    </md-content>
    
    <md-toolbar class='toolbar2 bg-green'>
        <div class='sw-button' layout='row' hide-xs>
            <div show-products>
                <button id='swcategories' class='btn btn-primary cl-mg-all cl-btn cl-bod-rad cl-bod-shadow' ng-click='categories()'>
                    <i class="fa fa-book fa-fw" aria-label="Products"></i>
                    <label hide-xs>Products</label>
                </button>
            </div>
            <div show-packages>
                <button id='swpackages' class='btn btn-blue cl-mg-all cl-btn cl-bod-rad cl-bod-shadow' ng-click='packages()'>
                    <i class="fa fa-cubes fa-fw" aria-label="Packages"></i>
                    <label hide-xs>Packages</label>
                </button>
            </div>
            <div show-favorite>
                <button id='swfavorite' class='btn btn-blue cl-mg-all cl-btn cl-bod-rad cl-bod-shadow' ng-click='favorite()'>
                    <i class="fa fa-star fa-fw" aria-label="Favorites"></i>
                    <label hide-xs>Favorites</label>
                </button>
            </div>
            <div show-cprice>
                <button id='swcsprice' class='btn btn-blue cl-mg-all cl-btn cl-bod-rad cl-bod-shadow' ng-click='csprice()'>
                    <i class="fa fa-calculator fa-fw" aria-label="Custom Price"></i>
                    <label hide-xs>Custom Price</label>
                </button>
            </div>
        </div>
        <div class='tab-button' layout='row' hide-gt-xs>
            <div flex show-products>
                <button id='categories' class='btn btn-primary cl-mg-all cl-btn cl-bod-rad cl-bod-shadow wd-100' ng-click='categories()'>
                    <i class="fa fa-book fa-fw" aria-label="Products"></i>
                    <label hide-xs>Products</label>
                </button>
            </div>
            <div flex show-packages>
                <button id='packages' class='btn btn-blue cl-mg-all cl-btn cl-bod-rad cl-bod-shadow wd-100' ng-click='packages()'>
                    <i class="fa fa-cubes fa-fw" aria-label="Packages"></i>
                    <label hide-xs>Packages</label>
                </button>
            </div>
            <div flex show-favorite>
                <button id='favorite' class='btn btn-blue cl-mg-all cl-btn cl-bod-rad cl-bod-shadow wd-100' ng-click='favorite()'>
                    <i class="fa fa-star fa-fw" aria-label="Favorites"></i>
                    <label hide-xs>Favorites</label>
                </button>
            </div>
            <div flex show-cprice>
                <button id='csprice' class='btn btn-blue cl-mg-all cl-btn cl-bod-rad cl-bod-shadow wd-100' ng-click='csprice()'>
                    <i class="fa fa-calculator fa-fw" aria-label="Custom Price"></i>
                    <label hide-xs>Custom Price</label>
                </button>
            </div>
        </div>
        <div class='bod-abs-orange-dash' hide-xs></div>
    </md-toolbar>
    
    <div class="slide-animate" ng-include="sidebar.url1"></div>
    <div class="slide-animate" ng-include="sidebar.url2"></div>
    <div class="slide-animate" ng-include="sidebar.url3"></div>
    <div class="slide-animate" ng-include="sidebar.url4"></div>
</ion-view>
