<ion-view cache-view="false" view-title="Forgot Password">
    <div class='rel-pos'>
        <div class='abs-pos box-login bod-blue bod-rad4'>
            <span class='logo'></span>
            <form name="forgotForm" novalidate>
                <div class="list list-inset cl-mg-all">
                    <label class="item item-input rad4-toplr">
                        <input required type="email" name="email" ng-model="login.email" ng-pattern="/^.+@.+\..+$/" placeholder="Email"/>
                        <i class="icon ion-android-mail placeholder-icon pad-lr-8 ff-grbright"></i>
                    </label>
                    <span class='validForm ff-alert ff-12' ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                        <p ng-show="loginForm.email.$error.required">Email is a required field</p>
                        <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Email must be valid</p>
                    </span>
                </div>
                <div class="pad-t-20">
                    <button type="submit" class="btn btn-primary btn-lg btn-block ff-14" ng-disabled="forgotForm.$invalid" ng-click='forgotAct(forgot)'>PROCEED</button>
                </div>
                <div class='txl-right'>
                    <a ui-sref='login' class='ff-14 ff-grey'>Back to Login</a>
                </div>
            </form>
            <div class='clean'></div>
        </div>
        <div class='bod-abs-blue'></div>
        <div class='bod-abs-orange'></div>
    </div>
</ion-view>