<ion-view cache-view="false" view-title="Login">
    <div class='rel-pos'>
        <div class='abs-pos box-login bod-blue bod-rad4'>
            <span class='logo'></span>
            <form name="loginForm" novalidate>
                <div class="list list-inset cl-mg-all">
                    <label class="item item-input rad4-toplr">
                        <input required type="email" name="email" ng-model="login.email" ng-pattern="/^.+@.+\..+$/" placeholder="Email"/>
                        <i class="icon ion-android-mail placeholder-icon pad-lr-8 ff-grbright"></i>
                    </label>
                    <span class='validForm ff-alert ff-12' ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                        <p ng-show="loginForm.email.$error.required">Email is a required field</p>
                        <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Email must be valid</p>
                    </span>
                    <label class="item item-input rad4-bottomlr">
                        <input required type="password" name="password" ng-model="login.password" placeholder="Password"/>
                        <i class="icon ion-locked placeholder-icon pad-lr-8 ff-grbright"></i>
                    </label>
                    <span class='validForm ff-alert ff-12' ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                        <p ng-show="loginForm.password.$error.required">Password is a required field</p>
                    </span>
                </div>
                <div class="pad-t-20">
                    <button type="submit" class="btn btn-primary btn-lg btn-block ff-14" ng-disabled="loginForm.$invalid" ng-click='loginAct(login)'>SIGN IN</button>
                </div>
                <div class='txl-right'>
                    <a ui-sref='forgot' class='ff-14 ff-grey'>Forgot Password</a>
                </div>
            </form>
            <div class='clean'></div>
        </div>
        <div class='bod-abs-blue'></div>
        <div class='bod-abs-orange'></div>
    </div>
</ion-view>