<ion-view cache-view="false" view-title="Outlets">
    <div class='rel-pos'>
        <div class='abs-pos box-login bod-blue bod-rad4'>
            <div class='bod-square bod-wd-60 bg-square-green'></div>
            <form name="checkForm" class='pad-t-20' novalidate>
                <md-input-container md-no-float class="md-block">
                    <md-select class='bod-all bod-rad4' name="outlet_id" ng-model="pp.outlet_id" placeholder="Outlets" required>
                        <md-option ng-repeat="dt1 in otlData" value="{{dt1.outlet_id}}">
                            {{dt1.outlet_name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="checkForm.outlet_id.$error" role="alert">
                        <div ng-message='required'>This is required.</div>
                    </div>
                </md-input-container>
                <div class="pad-t-20">
                    <button type="submit" class="btn btn-blue btn-lg btn-block ff-14" ng-disabled="checkForm.$invalid" ng-click='checkAct(pp)'>CONTINUE</button>
                </div>
            </form>
            <div class='clean'></div>
        </div>
        <div class='bod-abs-blue'></div>
        <div class='bod-abs-orange'></div>
    </div>
</ion-view>