<div class='mg-all-10' layout='row'>
    <md-content class='rc over-hidden bod-blue bod-rad4' flex='50' flex-xs='100' flex-sm='50'>
        <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
            <div layout='row'>
                <div class="md-toolbar-tools min-hg" flex>
                    <h2 class="md-flex over-text">{{ttitle}}</h2>
                </div>
                <button class='btn btn-primary btn-mini' ui-sref='summary' show-xs hide-gt-xs>
                    Daily Summary
                </button>
                <button class='btn btn-primary btn-mini dropdown-toggle' ng-click='resetSummary()'>
                    <i class="fa fa-refresh fa-fw" aria-label="Refresh Data"></i>
                </button>
            </div>
            <div class='bg-white-full ff-grey' layout='row'>
                <md-input-container md-no-float class='md-block wd-100 cl-mg-tb mg-t-10 mg-lr-20 ff-16'>
                    <md-icon class="fa fa-search fa-fw" aria-label="Search"></md-icon>
                    <input name="search" ng-model="searchTerm" placeholder="Receipt Number">
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content class='lvr-cnt cl-pad-all'>
            <!--<div class='mg-tb-10' ng-repeat='rs in pp' hide-xs>
                <div class='bg-green pad-all-8 pad-lr-20' layout='row'>
                    <md-list-item class="noright pad-tb">
                        <div class='btn btn-primary mg-r-10 ff-18'>
                            {{sname(rs.created_at)}}
                        </div>
                        <p class="ff-18 cl-white">{{rs.created_at}}</p>
                        <span flex></span>
                        <div class="ff-18 cl-white">Rp {{valFormat(rs.sales_summary)}}</div>
                    </md-list-item>
                </div>
                <div ng-repeat="r1 in rs.sales_data | orderBy:'-sales_date' | filter:searchTerm" class='bod-tb mg-lr-10 cl-mg-res' layout='row' ng-click='actReceipt(r1)'>
                    <md-list-item class="noright pad-lr">
                        <div class="ff-16" flex='70'>
                            <i class="fa fa-clipboard fa-fw" aria-label="{{r1.id}}"></i> {{r1.sales_receipt_no | uppercase}}
                            Rp {{total(r1)}} <br>
                            <span class='over-text'>
                                <span ng-repeat='cc in r1.sales_receipt_items' class='mg-r-5 ff-14 ff-grsoft ff-comma'>{{cc.product_name}}</span>
                            </span>
                        </div>
                        <div class="ff-16 txl-right" flex='30'>
                            {{r1.sales_receipt_date | date:'dd MMM yyyy'}}<br>
                            {{r1.sales_receipt_date | date:'HH:mm:ss'}}
                        </div>
                    </md-list-item>
                </div>
            </div>-->
            <div class='mg-tb-10' ng-repeat='rs in pp'> <!--hide-sm hide-gt-sm-->
                <div class='bg-green pad-all-8 pad-lr-20' layout='row'>
                    <md-list-item class="noright pad-tb">
                        <div class='btn btn-primary mg-r-10 ff-18'>
                            {{sname(rs.created_at)}}
                        </div>
                        <p class="ff-18 cl-white">{{rs.created_at}}</p>
                        <span flex></span>
                        <div class="ff-18 cl-white">Rp {{valFormat(rs.sales_summary)}}</div>
                    </md-list-item>
                </div>
                <div layout='row' class="bod-tb mg-lr-10 pad-tb-4" ng-repeat="r1 in rs.sales_data | orderBy:'-sales_date' | filter:searchTerm" ui-sref='receipt({id: r1.sales_receipt_no})'>
                    <div class="ff-16" flex="70">
                        <i class="fa fa-clipboard fa-fw" aria-label="{{r1.id}}"></i> {{r1.sales_receipt_no | uppercase}}
                        Rp {{total(r1, 3)}} <br>
                        <span class='over-text'>
                            <span ng-repeat='cc in r1.sales_receipt_items' class='mg-r-5 ff-14 ff-grsoft ff-comma'>{{cc.product_name}}</span>
                        </span>
                    </div>
                    <span flex></span>
                    <div class="ff-16 txl-right">
                        {{dtime(r1.sales_receipt_date)}}
                    </div>
                </div>
            </div>
        </md-content>
    </md-content>
    
   <div class="slide-animate" ng-include="content.url2" flex='50' hide-xs flex-sm='50'></div>
</div>
