<ion-view class='bg-login' cache-view="false" view-title="{{ttitle}}">
    <md-toolbar class='toolbar1'>
        <div layout='row' class='box-menu pad-l-20'>
            <div class='bg-logo'>
                <div class='logo'></div>
            </div>
            <div class='title over-text' ng-if='type == 1' ui-sref='dashboard'><i class="fa fa-chevron-left fa-fw mg-r-10"></i>{{htitle}}</div>
            <div class='title over-text' ng-if='type == 2' ui-sref='activity'><i class="fa fa-chevron-left fa-fw mg-r-10"></i>{{htitle}}</div>
            <div class='title over-text' ng-if='type == 3' ui-sref='setting' aria-label='Back for Test Print'><i class="fa fa-chevron-left fa-fw mg-r-10"></i>{{htitle}}</div>
            <span flex></span>
            <button class='btn btn-primary btn-menu ff-maroon cl-bod-rad' ng-click="openSide('mainmenu')">
                <i class="fa fa-bars fa-fw pad-t-5" aria-label="Main Menu"></i>
            </button>
        </div>
    </md-toolbar>
    
    <md-content class='over-hidden bg-grey' resize-content>
        <div class="slide-animate" ng-include="content.url1"></div>
    </md-content>

    <div class="slide-animate" ng-include="sidebar.url1"></div>
</ion-view>
