<md-content class='rc mg-all-10 bod-blue bod-rad4 over-hidden'>
    <div id='xprint' class='wd-100'>
        <style>
            table {
                width: 100%;
                border: none;
                border-collapse: collapse;
                border-spacing: 0;
            }
            table td {
                padding: 3px;
                font-size: 16px;
                vertical-align: middle;
            }
            table .align-center {
                text-align: center;
            }
            table .align-right {
                text-align: right;
            }
            table .pad-tb-10 {
                padding: 10px 0;
            }
            table img {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }
        </style>
        <div style='padding: 10px'>
            <table>
                <tr class='align-center'>
                    <td><h3>{{outlet.outlet_name}}</h3></td>
                </tr>
                <tr class='align-center'>
                    <td>{{outlet.outlet_info.outlet_address}}<br><i class='fa fa-phone fa-fw' aria-label='Phone'></i> {{outlet.outlet_info.outlet_phone}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 30%;'>Date</td><td class='align-right'>{{dt.sales_receipt_date | date:'dd MMM yyyy HH:mm:ss'}}</td>
                </tr>
                <tr>
                    <td style='width: 30%;'>Receipt No</td><td class='align-right'>{{dt.sales_receipt_no}}</td>
                </tr>
                <tr>
                    <td style='width: 30%;'>Served By</td><td class='align-right'>{{accLog.user_fname}} {{accLog.user_lname}}</td>
                </tr>
                <tr>
                    <td style='width: 30%;'>Collected By</td><td class='align-right'>{{accLog.user_fname}} {{accLog.user_lname}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr ng-repeat='cc in cart'>
                    <td style='width: 50%;'>{{cc.product_name}}<br>Rp {{valFormat(cc.product_sales_price*1)}}</td>
                    <td style='width: 10%;' class='align-right'>x{{cc.qty}}</td>
                    <td style='width: 40%;' class='align-right'><span ng-if="cc.product_type == 'discount'">-</span> Rp {{valFormat(cc.product_sales_price*cc.qty)}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 40%;'><h3>Subtotal</h3></td><td class='align-right'><h3>Rp {{subtotal}}</h3></td>
                </tr>
                <tr ng-if="dt.sales_receipt_disc_amount != undefined && dt.sales_receipt_disc_amount != 0">
                    <td style='width: 40%;'>Discount</td><td class='align-right'>(Rp {{valFormat(dt.sales_receipt_disc_amount)}})</td>
                </tr>
                <tr ng-if="dt.sales_receipt_tax_amount != undefined && dt.sales_receipt_tax_amount != 0">
                    <td style='width: 40%;'>Tax (PPN {{dt.sales_receipt_tax}}%)</td><td class='align-right'>Rp {{valFormat(dt.sales_receipt_tax_amount)}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 40%;'><h3>Grand Total</h3></td><td class='align-right'><h3>Rp {{total(2)}}</h3></td>
                </tr>
                <tr ng-if="dt.sales_receipt_charges_amount != undefined && dt.sales_receipt_charges_amount != 0">
                    <td style='width: 40%;'>Charge</td><td class='align-right'>Rp {{valFormat(dt.sales_receipt_charges_amount)}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 40%;'><h3>Total Payment</h3></td><td class='align-right'><h3>Rp {{total(3)}}</h3></td>
                </tr>
                <tr>
                    <td style='width: 40%;'>Cash</td><td class='align-right'>Rp {{cash}}</td>
                </tr>
                <tr>
                    <td style='width: 40%;'>Change</td><td class='align-right'>Rp {{change()}}</td>
                </tr>
            </table>
            <!--<hr>
            <table>
                <tr>
                    <td class='align-center'>
                        Thank you for shopping<br>
                        www.logivar.com<br>
                        cs@logivar.com<br>
                    </td>
                </tr>
            </table>-->
        </div>
    </div>
</md-content>