<md-content class='rc mg-all-10 bod-blue bod-rad4 over-hidden'>
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Receipt No {{dd.sales_receipt_no | uppercase}}</h2>
            </div>
            <button class='btn btn-primary btn-mini dropdown-toggle'>
                <i class="fa fa-check fa-fw" aria-label="Update Data"></i>
            </button>
        </div>
    </md-toolbar>
    <md-content class='lvr-cnt cl-pad-all' ng-if="dd != ''">
        <div class='mg-all-10'>
            <div layout='row'>
                <button class='btn btn-primary cl-btn cl-mg-all ff-16' ng-click="sendReceipt(dd)">
                    <i class="fa fa-print fa-fw" aria-label="Update"></i>
                    Send Receipt
                </button>
                <span flex></span>
                <button class='btn btn-blue cl-btn cl-mg-all ff-16' ng-click="issueRef(dd)">
                    <i class="fa fa-money fa-fw" aria-label="Update"></i>
                    Issue Refund
                </button>
            </div>
        </div>
        <div class='bg-grey pad-all-8 pad-lr-10' layout='row'>
            <md-list-item class="noright pad-lr">
                <div class="ff-18" flex='60'>
                    <i class="fa fa-clipboard fa-fw" aria-label="{{r1.id}}"></i> {{dd.sales_receipt_no | uppercase}}
                </div>
                <div class="ff-18 txl-right" flex='40'>
                    {{dtime(dd.sales_receipt_date, 1)}}
                </div>
            </md-list-item>
        </div>
        <div class='mg-all-10'>
            <div class='bod-tb-dash' layout='row'>
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Order Status
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        {{dd.sales_receipt_status | uppercase}}
                    </div>
                </md-list-item>
            </div>
            <div class='bod-tb-dash' layout='row'>
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Payment Method
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        {{pmethod(dd.sales_receipt_paymethod) | uppercase}}
                    </div>
                </md-list-item>
            </div>
            <div class='bod-tb-dash' layout='row'>
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Collected By
                    </div>
                    <div class="ff-16 txl-right" flex='40' ng-if="dd.user_data != undefined && dd.user_data.user_fname != undefined">
                        {{dd.user_data.user_fname | uppercase}} {{dd.user_data.user_lname | uppercase}}
                    </div>
                    <div class="ff-16 txl-right" flex='40' ng-if="dd.sales_receipt_person.name != undefined">
                        {{dd.sales_receipt_person.name | uppercase}}
                    </div>
                </md-list-item>
            </div>
            <div ng-repeat='cc in dd.sales_receipt_items' class='bod-tb-dash cl-mg-res pad-r-10' layout='row'>
                <md-list-item class="noright">
                    <div class='btn btn-primary mg-r-10 ff-18'>
                        {{sname(cc.product_name)}}
                    </div>
                    <div class="ff-16" flex='45'>
                        {{cc.product_name}}
                    </div>
                    <div class="ff-16" flex='10'>
                        x{{cc.qty}}
                    </div>
                    <div class="ff-16 txl-right" flex>
                        <span ng-if="cc.product_type == 'discount'">(</span>Rp {{valFormat(cc.product_sales_price*cc.qty)}}<span ng-if="cc.product_type == 'discount'">)</span>
                    </div>
                </md-list-item>
            </div>
        </div>
        <div class='bg-grey pad-all-8 pad-lr-10' layout='row'>
            <md-list-item class="noright pad-lr">
                <div class="ff-18" flex='60'>
                    Subtotal
                </div>
                <div class="ff-18 txl-right" flex='40'>
                    Rp {{subtotal(dd)}}
                </div>
            </md-list-item>
        </div>
        <div class='mg-all-10'>
            <div class='bod-tb-dash' layout='row' ng-if="dd.sales_receipt_disc_amount != undefined && dd.sales_receipt_disc_amount != 0">
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Discount
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        (Rp {{valFormat(dd.sales_receipt_disc_amount)}})
                    </div>
                </md-list-item>
            </div>
        </div>
        <div class='mg-all-10'>
            <div class='bod-tb-dash' layout='row' ng-if="dd.sales_receipt_tax_amount != undefined && dd.sales_receipt_tax_amount != 0">
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Tax (PPN {{dd.sales_receipt_tax}}%)
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        Rp {{valFormat(dd.sales_receipt_tax_amount)}}
                    </div>
                </md-list-item>
            </div>
        </div>
        <div class='bg-grey pad-all-8 pad-lr-10' layout='row'>
            <md-list-item class="noright pad-lr">
                <div class="ff-18" flex='60'>
                    Grand Total
                </div>
                <div class="ff-18 txl-right" flex='40'>
                    Rp {{total(dd, 2)}}
                </div>
            </md-list-item>
        </div>
        <div class='mg-all-10'>
            <div class='bod-tb-dash' layout='row' ng-if="dd.sales_receipt_charges_amount != undefined && dd.sales_receipt_charges_amount != 0">
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Charges
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        Rp {{valFormat(dd.sales_receipt_charges_amount)}}
                    </div>
                </md-list-item>
            </div>
        </div>
        <div class='bg-grey pad-all-8 pad-lr-10' layout='row'>
            <md-list-item class="noright pad-lr">
                <div class="ff-18" flex='60'>
                    Total Payment
                </div>
                <div class="ff-18 txl-right" flex='40'>
                    Rp {{total(dd, 3)}}
                </div>
            </md-list-item>
        </div>
        <div class='mg-all-10'>
            <div class='bod-tb-dash' layout='row'>
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Cash
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        Rp {{valFormat(dd.sales_receipt_paid)}}
                    </div>
                </md-list-item>
            </div>
            <div class='bod-tb-dash' layout='row'>
                <md-list-item class="noright pad-lr">
                    <div class="ff-16" flex='60'>
                        Change
                    </div>
                    <div class="ff-16 txl-right" flex='40'>
                        Rp {{change(dd)}}
                    </div>
                </md-list-item>
            </div>
        </div>
    </md-content>
</md-content>