<md-content class='rc mg-l-10 bod-blue bod-rad4 over-hidden'>
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Daily Summary</h2>
            </div>
            <button class='btn btn-primary btn-mini dropdown-toggle'>
                <i class="fa fa-check fa-fw" aria-label="Update Data"></i>
            </button>
        </div>
    </md-toolbar>
    <md-content class='lvr-cnt cl-pad-all'>
        <div class='mg-all-10'>
            <div layout='row'>
                <md-datepicker ng-model="ec.date" md-placeholder="Enter Date"></md-datepicker>
                <span flex></span>
                <a class='btn btn-primary btn-mini mg-r-5' ng-click='reSummary(ec)'>
                    <i class="fa fa-refresh fa-fw" aria-label="Refresh Data"></i>
                </a>
            </div>
            <a class='btn btn-primary btn-mini wd-100' ng-click='printSummary(ec)'>
                <i class="fa fa-print fa-fw" aria-label="Print Summary"></i>
                <label class="ff-18">Print</label>
            </a>
            <table class="table table-striped cl-mg-tb ng-scope">
                <thead>
                    <tr>
                        <th>Sales Summary</th>
                        <th class="txl-right">{{dtime(ss.sales_date, 2)}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Sales</td>
                        <td class="txl-right">Rp {{valFormat(ss.total_sales)}}</td>
                    </tr>
                    <tr>
                        <td>Gross Sales</td>
                        <td class="txl-right">Rp {{valFormat(ss.gross_sales)}}</td>
                    </tr>
                    <tr>
                        <td>Discount by Item</td>
                        <td class="txl-right">Rp {{valFormat(ss.discount_by_item)}}</td>
                    </tr>
                    <tr>
                        <td>Charges by Item</td>
                        <td class="txl-right">Rp {{valFormat(ss.charge_by_item)}}</td>
                    </tr>
                    <tr>
                        <td>Discount by Receipt</td>
                        <td class="txl-right">Rp {{valFormat(ss.discount_by_receipt)}}</td>
                    </tr>
                    <tr>
                        <td>Charges by Receipt</td>
                        <td class="txl-right">Rp {{valFormat(ss.charge_by_receipt)}}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td class="txl-right">Rp {{valFormat(ss.tax)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</md-content>