<md-content class='rc mg-l-10 bod-blue bod-rad4 over-hidden'>    
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Bluetooth</h2>
            </div>
            <button class='btn btn-primary btn-mini' ng-click='sBluetooth()'>
                <i class="fa fa-refresh fa-fw" aria-label="Update"></i>
            </button>
        </div>
    </md-toolbar>
    <md-content class='lvr-cnt cl-pad-all'>
        <div class='mg-all-10'>
            <div layout='row'>
                <button class='btn btn-grey wd-100'>
                    <div class='md-title' ng-bind-html='blueMsg'></div>
                </button>
            </div>
            <div ng-repeat='bl in blueResult' class='pad-all-10 bod-bottom' layout='row'>
                <div class="ff-16">
                    <i class="fa fa-print fa-fw" aria-label="Bluetooth"></i> {{bl.name}}<br>
                    <label class="ff-14">{{bl.address}}</label>
                </div>
                <span flex></span>
                <div class="ff-14">
                    Status<br>
                    <label class="ff-16">{{bl.status}}</label>
                </div>
            </div>
        </div>
    </md-content>
</md-content>