<ion-view class='bg-login' cache-view="false" view-title="{{ttitle}}">
    <md-toolbar class='toolbar1'>
        <div layout='row' class='box-menu pad-l-20'>
            <div class='bg-logo'>
                <div class='logo'></div>
            </div>
            <div class='title over-text' ng-if='type == 1' ui-sref='dashboard'><i class="fa fa-chevron-left fa-fw mg-r-10"></i>{{htitle}}</div>
            <div class='title over-text' ng-if='type == 2' ui-sref='setting'><i class="fa fa-chevron-left fa-fw mg-r-10"></i>{{htitle}}</div>
            <span flex></span>
            <!--<div class='item-select' ng-if="htitle == 'Printer'">
                <select class='bg-green cl-white' ng-model="mport.port">
                    <option value='Bluetooth'>Bluetooth</option>
                    <option value='USB'>USB</option>
                    <option value='LAN'>LAN</option>
                </select>
            </div>-->
            <!--<button class='btn btn-grey btn-menu ff-grey cl-bod-rad' ng-if="htitle == 'Taxes & Gratuity'" ng-click='upTaxgratuity(set)'>
                <i class="fa fa-check fa-fw pad-t-5" aria-label="Taxes & Gratuity"></i>
            </button>
            <button class='btn btn-grey btn-menu ff-grey cl-bod-rad' ng-if="htitle == 'Bluetooth'" ng-click='sBluetooth()'>
                <i class="fa fa-refresh fa-fw pad-t-5" aria-label="Bluetooth"></i>
            </button>
            <button class='btn btn-grey btn-menu ff-grey cl-bod-rad' ng-if="htitle == 'Printer'" ng-click='sPrinter(mport)'>
                <i class="fa fa-refresh fa-fw pad-t-5" aria-label="Printer"></i>
            </button>
            <button class='btn btn-grey btn-menu ff-grey cl-bod-rad' ng-if="htitle == 'Support'" ng-click='upSupport()'>
                <i class="fa fa-refresh fa-fw pad-t-5" aria-label="Support"></i>
            </button>-->
            <button class='btn btn-primary btn-menu ff-maroon cl-bod-rad' ng-click="openSide('mainmenu')">
                <i class="fa fa-bars fa-fw pad-t-5" aria-label="Main Menu"></i>
            </button>
        </div>
    </md-toolbar>
    
    <md-content class='over-hidden bg-grey' resize-content>
        <div class="slide-animate" ng-include="content.url1"></div>
    </md-content>

    <div class="slide-animate" ng-include="sidebar.url1"></div>
</ion-view>
