<div class='mg-all-10' layout='row'>
    <md-content class='rc over-hidden bod-blue bod-rad4' flex='50' flex-xs='100' flex-sm='50'>
        <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
            <div layout='row'>
                <div class="md-toolbar-tools min-hg" flex>
                    <h2 class="md-flex over-text">{{ttitle}}</h2>
                </div>
                <button class='btn btn-primary btn-mini dropdown-toggle'>
                    <i class="fa fa-refresh fa-fw" aria-label="Refresh Data"></i>
                </button>
            </div>
        </md-toolbar>
        <md-content class='lvr-cnt cl-pad-all'>
            <div class='mg-all-10'>
                <div class='cl-pad-tb' layout='row'>
                    <div class='md-title bg-grey pad-all-10'>System</div>
                </div>
                <div class='btn-warning cl-pad-all mg-lr-8'>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ng-click="setContent('tools')" hide-xs>
                        <i class="fa fa-gear fa-fw" aria-label="Tools"></i>
                        <label class='cl-mg-tb ff-18'>Tools</label>
                    </button>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ui-sref="tools" hide-sm hide-gt-sm>
                        <i class="fa fa-gear fa-fw" aria-label="Tools"></i>
                        <label class='cl-mg-tb ff-18'>Tools</label>
                    </button>
                </div>
                <!--<div class='bod-square box-wd-50 bg-square-green'></div>
                <div class='cl-pad-tb mg-t-20' layout='row'>
                    <div class='md-title bg-grey pad-all-10'>Checkout</div>
                </div>
                <div class='btn-warning cl-pad-all mg-lr-8'>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ng-click="setContent('taxes-gratuity')" hide-xs>
                        <i class="fa fa-money fa-fw" aria-label="Taxes & Gratuity"></i>
                        <label class='cl-mg-tb ff-18'>Taxes & Gratuity</label>
                    </button>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ui-sref="taxes-gratuity" hide-sm hide-gt-sm>
                        <i class="fa fa-money fa-fw" aria-label="Taxes & Gratuity"></i>
                        <label class='cl-mg-tb ff-18'>Taxes & Gratuity</label>
                    </button>
                </div>-->
                <div class='cl-pad-tb' layout='row'>
                    <div class='md-title bg-grey pad-all-10'>Hardware</div>
                </div>
                <!--<div class='btn-warning cl-pad-all mg-lr-8' style='margin-bottom: 1px;'>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ng-click="setContent('bluetooth')" hide-xs>
                        <i class="fa fa-bluetooth fa-fw" aria-label="Bluetooth"></i>
                        <label class='cl-mg-tb ff-18'>Bluetooth</label>
                    </button>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ui-sref="bluetooth" hide-sm hide-gt-sm>
                        <i class="fa fa-bluetooth fa-fw" aria-label="Bluetooth"></i>
                        <label class='cl-mg-tb ff-18'>Bluetooth</label>
                    </button>
                </div>-->
                <div class='btn-warning cl-pad-all mg-lr-8'>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ng-click="setContent('printer')" hide-xs>
                        <i class="fa fa-print fa-fw" aria-label="Printer"></i>
                        <label class='cl-mg-tb ff-18'>Printer</label>
                    </button>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ui-sref="printer" hide-sm hide-gt-sm>
                        <i class="fa fa-print fa-fw" aria-label="Printer"></i>
                        <label class='cl-mg-tb ff-18'>Printer</label>
                    </button>
                </div>
                <div class='cl-pad-tb' layout='row'>
                    <div class='md-title bg-grey pad-all-10'>Support</div>
                </div>
                <div class='btn-warning cl-pad-all mg-lr-8'>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ng-click="setContent('support')" hide-xs>
                        <i class="fa fa-users fa-fw" aria-label="Support"></i>
                        <label class='cl-mg-tb ff-18'>Support</label>
                    </button>
                    <button class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 txl-left txl-cp ff-18' ui-sref="support" hide-sm hide-gt-sm>
                        <i class="fa fa-users fa-fw" aria-label="Support"></i>
                        <label class='cl-mg-tb ff-18'>Support</label>
                    </button>
                </div>
            </div>
        </md-content>
    </md-content>
    
    <div class="slide-animate" ng-include="content.url2" flex='50' hide-xs flex-sm='50'></div>
</div>
