<md-content class='rc mg-l-10 bod-blue bod-rad4 over-hidden'>    
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Printer</h2>
            </div>
            <div class='item-select'>
                <select class='cl-white' ng-model="cport.port">
                    <option value='Bluetooth'>Bluetooth</option>
                    <option value='USB'>USB</option>
                    <option value='LAN'>LAN</option>
                </select>
            </div>
            <a class='btn btn-primary btn-mini' ng-click='sPrinter(cport)'>
                <i class="fa fa-refresh fa-fw" aria-label="Update"></i>
            </a>
        </div>
    </md-toolbar>
    <md-content class='lvr-cnt cl-pad-all'>
        <div class='mg-all-10'>
            <a class='btn btn-primary disp-block wd-100 cl-mg-all pad-all-8 mg-b-20' ng-click='printTest()'>
                <label class='md-title cl-mg-tb'>Test Print</label>
            </a>
            <div layout='row' ng-if="printMsg != undefined">
                <button class='btn btn-grey wd-100'>
                    <div class='md-title' ng-bind-html='printMsg'></div>
                </button>
            </div>
            <div ng-repeat='pr in printResult' class='pad-all-10 bod-bottom' layout='row' ng-click='printSel(pr, printResult)'>
                <div class="ff-16" flex='70'>
                    <i class="fa fa-print fa-fw" aria-label="Printer"></i> {{pr.name}}<br>
                    <label class="ff-14">{{pr.macAddress}}</label>
                </div>
                <div class="ff-14 txl-right" flex='30'>
                    Status<br>
                    <label class="ff-16">{{pr.status}}</label>
                </div>
            </div>
        </div>
    </md-content>
</md-content>