<md-content class='rc mg-l-10 bod-blue bod-rad4 over-hidden'>    
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Support</h2>
            </div>
            <button class='btn btn-primary btn-mini' ng-click='upSupport()'>
                <i class="fa fa-check fa-fw" aria-label="Update"></i>
            </button>
        </div>
    </md-toolbar>
    <md-content class='cl-pad-all'>
        <div class='mg-all-20 layout-center' layout='row'>
            <span class="md-logo wd-100" style='background: url("img/logo.png") no-repeat center center; background-size: contain;'></span>
        </div>
        <div class='mg-all-20 txl-center'>
            <a href='http://www.logivar.com' class='btn btn-primary' aria-label='Official Website LVPOS'>www.logivar.com</a>
            <a href='mailto:info@logivar.com' class='btn btn-blue' aria-label='Email Support LVPOS'>info@logivar.com</a>
        </div>
    </md-content>
</md-content>