<md-content class='rc mg-l-10 bod-blue bod-rad4 over-hidden'>    
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Taxes & Gratuity</h2>
            </div>
            <button class='btn btn-primary btn-mini' ng-click='upTaxgratuity(set)'>
                <i class="fa fa-check fa-fw" aria-label="Update"></i>
            </button>
        </div>
    </md-toolbar>
    <md-content class='lvr-cnt cl-pad-all'>
        <div class='mg-all-10'>
            <div class='pad-all-10' layout='row'>
                <div class="ff-16" flex='80'>
                    Taxes
                </div>
                <div class='txl-right' flex='20'>
                    <label class="toggle toggle-stable">
                        <input type="checkbox" ng-model="set.taxes" ng-value="1">
                        <div class="track"><div class="handle"></div></div>
                    </label>
                </div>
            </div>
            <div class='pad-all-10' layout='row'>
                <div class="ff-16" flex='80'>
                    Collect Gratuity
                </div>
                <div class='txl-right' flex='20'>
                    <label class="toggle toggle-stable">
                        <input type="checkbox" ng-model="set.gratuity" ng-value="1">
                        <div class="track"><div class="handle"></div></div>
                    </label>
                </div>
            </div>
            <div class='pad-all-10' layout='row'>
                <div class="ff-16" flex='75'>
                    Tax & Gratuity
                </div>
                <md-input-container md-no-float class="md-block wd-100 cl-mg-all">
                    <md-select class='bod-all bod-rad4' name="taxgratuity" ng-model="set.taxgratuity" placeholder="Select">
                        <md-option value="">Select</md-option>
                        <md-option value="0">Add Tax and Gratuity to Item Price</md-option>
                        <md-option value="1">Include Tax & Gratuity to Item Price</md-option>
                    </md-select>
                </md-input-container>
                <!--<select ng-model="set.taxgratuity">
                    <option value=''>Select</option>
                    <option value='0'>Add Tax and Gratuity to Item Price</option>
                    <option value='1'>Include Tax & Gratuity to Item Price</option>
                </select>-->
            </div>
        </div>
    </md-content>
</md-content>