<md-content class='rc mg-l-10 bod-blue bod-rad4 over-hidden'>    
    <md-toolbar class='lvr-tc1 cl-pad-all min-hg'>
        <div layout='row'>
            <div class="md-toolbar-tools min-hg" flex>
                <h2 class="md-flex over-text">Tools</h2>
            </div>
            <a class='btn btn-primary btn-mini' ng-click='upTools(set, null)'>
                <i class="fa fa-check fa-fw" aria-label="Update"></i>
            </a>
        </div>
    </md-toolbar>
    <md-content class='lvr-cnt cl-pad-all'>
        <div class='mg-all-20 layout-center' layout='row'>
            <span class="md-logo wd-100" style='background: url("img/logo.png") no-repeat center center; background-size: contain;'></span>
        </div>
        <div class='mg-all-10'>
            <div class='mg-b-10'>
                <div class='cl-pad-tb' layout='row'>
                    <div class='md-title bg-grey pad-all-10'>Cash Drawer</div>
                </div>
                <div class='pad-all-8 layout-center' layout='row'>
                    <p class='ff-16' flex='40'>Open Cash Drawer</p>
                    <span flex></span>
                    <a class='btn btn-primary btn-mini' ng-click='openCash()'>
                        <i class="fa fa-upload fa-fw"></i>
                    </a>
                </div>
                <div class='pad-all-8 layout-center' layout='row' ng-if="accLog.role_id == '1'">
                    <p class='ff-16' flex='40'>Password</p>
                    <span flex></span>
                    <div class="list list-inset cl-mg-all">
                        <label class="item item-input">
                            <input type="password" id='passcash' ng-model="set.passcash" class='cl-bod-all ff-16' placeholder="Password">
                            <i class="icon ion-locked placeholder-icon pad-lr-8 ff-grbright"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class='mg-b-10'>
                <div class='cl-pad-tb' layout='row'>
                    <div class='md-title bg-grey pad-all-10'>Bluetooth</div>
                </div>
                <div class='pad-all-8 layout-center' layout='row'>
                    <p class='ff-16' flex='40'>Turn On</p>
                    <span flex></span>
                    <a class='btn btn-primary btn-mini' ng-click='onBluetooth()'>
                        <i class="fa fa-bluetooth-b fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </md-content>
</md-content>