<md-sidenav class="sd-cart md-sidenav-right md-whiteframe-4dp" md-component-id="discharge">
    <md-toolbar class="sd-bar-cart md-theme-light">
        <div layout='row'>
            <h1 class="md-toolbar-tools">Rp {{subtotal}}</h1>
            <span flex></span>
            <span class='pad-tb-10 mg-r-10' ng-click="closeSide('discharge')">
                <md-icon class="fa fa-times fa-fw pad-t-5" aria-label="Close Shopping Cart"></md-icon>
            </span>
        </div>
    </md-toolbar>
    <md-content class='sd-cn-cart over-hidden' layout-padding>
        <form name="checkForm" novalidate>
            <md-toolbar class="sd-bar-cart md-theme-light cl-pad-all min-hg">
                <div layout='row'>
                    <span class='pad-all-10'>Discount</span>
                </div>
            </md-toolbar>
            
            <div class="list list-inset cl-mg-lr">
                <label class="item item-input rad4-toplr">
                    <input type="tel" ng-model="ss.sales_receipt_disc" ng-keyup="salesDischarge(ss, 'sales_receipt_disc', 0)" class='ff-16' placeholder="Percent">
                    <i class="icon ion-disc placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <label class="item item-input rad4-bottomlr">
                    <input type="number" ng-model="ss.sales_receipt_disc_amount" ng-keyup="salesDischarge(ss, 'sales_receipt_disc_amount', 1)" class='ff-16' placeholder="Amount">
                    <i class="icon ion-cash placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
            </div>
            
            <md-toolbar class="sd-bar-cart md-theme-light cl-pad-all min-hg">
                <div layout='row'>
                    <span class='pad-all-10'>Charge</span>
                </div>
            </md-toolbar>
            
            <div class="list list-inset cl-mg-lr">
                <label class="item item-input rad4-toplr">
                    <input type="tel" ng-model="ss.sales_receipt_charges" ng-keyup="salesDischarge(ss, 'sales_receipt_charges', 0)" class='ff-16' placeholder="Percent">
                    <i class="icon ion-disc placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <label class="item item-input rad4-bottomlr">
                    <input type="number" ng-model="ss.sales_receipt_charges_amount" ng-keyup="salesDischarge(ss, 'sales_receipt_charges_amount', 1)" class='ff-16' placeholder="Amount">
                    <i class="icon ion-cash placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
            </div>
            
            <md-toolbar class='sd-t2 cl-pad-all min-hg mg-t-10'>
                <button class='btn btn-primary cl-mg-all pad-all-8' ng-if="outlet.outlet_tax != undefined && outlet.outlet_tax != 0">
                    <label class='md-title cl-mg-tb'>Tax <span class='txl-cp'>Rp {{tax(0)}}</span></label>
                </button>
                <button class='btn btn-blue cl-mg-all pad-all-10' ng-click="openSide('pmethod')">
                    <label class='md-headline cl-mg-tb'>Next <span class='txl-cp'>Rp {{total(1)}}</span></label>
                </button>
                <button class='btn btn-grey cl-btn cl-mg-all pad-all-10' ng-click="printTrial()">
                    <label class='md-headline cl-mg-tb'>Print Trial</label>
                </button>
            </md-toolbar>
        </form>
    </md-content>
</md-sidenav>