<md-sidenav class="sd-cart md-sidenav-right md-whiteframe-4dp" md-component-id="pmethod">
    <md-toolbar class="sd-bar-cart md-theme-light">
        <div layout='row'>
            <h1 class="md-toolbar-tools">Rp {{total(1)}}</h1>
            <span flex></span>
            <span class='pad-tb-10 mg-r-10' ng-click="closeSide('pmethod')">
                <md-icon class="fa fa-times fa-fw pad-t-5" aria-label="Close Shopping Cart"></md-icon>
            </span>
        </div>
    </md-toolbar>
    <md-content class='sd-cn-cart over-hidden' layout-padding>
        <form name="checkForm" novalidate>
            <ion-list>
                <ion-radio class='btn-grey cl-pad-all cl-mg-all mg-b-10' ng-model="cpay.sales_receipt_paymethod" ng-value="'cash'" ng-click="pMethod({pm: 'cash'})" pay-cash>Cash</ion-radio>
                <ion-radio class='btn-grey cl-pad-all cl-mg-all mg-b-10' ng-model="cpay.sales_receipt_paymethod" ng-value="'dc'" ng-click="pMethod({pm: 'dc'})" pay-card>Debet</ion-radio>
                <ion-radio class='btn-grey cl-pad-all cl-mg-all mg-b-10' ng-model="cpay.sales_receipt_paymethod" ng-value="'cc'" ng-click="pMethod({pm: 'cc'})" pay-card>Credit Card</ion-radio>
            </ion-list>
            <div class='pay-form disp-none'>
                <md-toolbar class="sd-bar-cart md-theme-light cl-pad-all min-hg">
                    <div layout='row'>
                        <span class='pad-all-10'>Pay</span>
                    </div>
                </md-toolbar>
            </div>
            <div class='pay-cash disp-none'>
                <div class="list list-inset cl-mg-lr">
                    <label class="item item-input bod-rad4">
                        <input type="tel" name="srp" ng-model="srp.paid" ng-keyup="salesPaid(srp, cpay)" ng-required="cpay.sales_receipt_cardno == '' && cpay.sales_receipt_apprno == ''" class='ff-16' placeholder="Cash" autofocus required>
                        <i class="icon ion-cash placeholder-icon pad-lr-8 ff-grbright"></i>
                    </label>
                    <span class='validForm ff-alert ff-12' ng-show="checkForm.srp.$dirty && checkForm.srp.$invalid">
                        <p ng-show="checkForm.srp.$error.required">Cash is a required field</p>
                    </span>
                </div>
            </div>
            <div class='pay-card disp-none'>
                <div class="list list-inset cl-mg-lr">
                    <label class="item item-input rad4-toplr">
                        <input type="number" name="sales_receipt_cardno" ng-model="cpay.sales_receipt_cardno" class='ff-16' placeholder="Card No" ng-required="srp.paid == ''" autofocus required>
                        <i class="icon ion-card placeholder-icon pad-lr-8 ff-grbright"></i>
                    </label>
                    <span class='validForm ff-alert ff-12' ng-show="checkForm.sales_receipt_cardno.$dirty && checkForm.sales_receipt_cardno.$invalid">
                        <p ng-show="checkForm.sales_receipt_cardno.$error.required">Card No is a required field</p>
                    </span>
                    <label class="item item-input rad4-bottomlr">
                        <input type="number" name="sales_receipt_apprno" ng-model="cpay.sales_receipt_apprno" class='ff-16' placeholder="Approval No" ng-required="srp.paid == ''" autofocus required>
                        <i class="icon ion-compose placeholder-icon pad-lr-8 ff-grbright"></i>
                    </label>
                    <span class='validForm ff-alert ff-12' ng-show="checkForm.sales_receipt_apprno.$dirty && checkForm.sales_receipt_apprno.$invalid">
                        <p ng-show="checkForm.sales_receipt_apprno.$error.required">Approval No is a required field</p>
                    </span>
                </div>
            </div>
            <div class='pay-form disp-none'>
                <md-toolbar class='sd-t2 cl-pad-all min-hg mg-t-10'>
                    <a class='btn btn-primary cl-mg-all pad-all-8' ng-disabled="checkForm.$invalid" ng-click='payFinish(cpay)'>
                        <label class='md-title cl-mg-tb'>Change <span class='txl-cp'>Rp {{payChange}}</span></label>
                    </a>
                    <a class='btn btn-blue cl-btn cl-mg-all pad-all-10' ng-disabled="checkForm.$invalid" ng-click='payFinish(cpay)'>
                        <label class='md-headline cl-mg-tb'>Print <span class='txl-cp'>Rp {{total(1)}}</span></label>
                    </a>
                </md-toolbar>
            </div>
        </form>
    </md-content>
</md-sidenav>