
@media only screen and (min-width: 960px) {
    .rc .showCprice .pad-all-20 {
	padding: 15px;
    }
    .rc .showCprice .ff-20  {
	font-size: 40px;
    }
}

@media only screen and (max-width: 910px) {
    .box-menu .navi li a {
	padding: 28px 10px;
    }
}

@media only screen and (max-width: 767px) {
    .tab-button {
	height: 53px;
    }
	.tab-button button {
	    height: 53px;
	}
}

@media only screen and (max-width: 600px) {
    /*.cl-mg-res {
	margin: 0;
    }*/
    .cl-pad-res {
	padding: 4px;
    }
    
    .rc.mg-l-10 {
	margin: 10px;
    }
    
    md-toolbar {
	min-height: 45px;
    }
    .box-menu.pad-l-20 {
	padding-left: 0;
    }
    .box-menu.pad-lr-20 {
	padding-left: 10px;
	padding-right: 10px;
    }
    .box-menu .title {
	margin: 14px 10px;
	font-size: 20px;
    }
    .box-menu .bg-logo {
	width: 109px;
	height: 57px;
	padding: 10px 4px;
    }
    .box-menu .logo {
	height: 37px;
    }
    .box-menu .btn-cart {
	padding: 0 10px;
	margin: 12px 10px 12px 5px;
    }
    
    .box-login {
	max-width: 350px;
	padding: 20px;
    }
	.box-login.bod-blue {
	    border: none;
	    box-shadow: 0 0 0 0;
	}
	.box-login .logo {
	    margin: 0 0 20px 0;
	}
}

@media only screen and (max-width: 400px) {
    
}