
body {
    margin: 0;
    padding: 0;
}
input {
    outline: none;
}
html.md-default-theme, html, body.md-default-theme, body {
    background: none;
}

* {
    outline: none;
}

/* Ionic */

.popup-container .popup {
    width: auto;
}
.popup-title {
    font-size: 20px;
}
.popup-body input[type="number"] {
    padding-top: inherit;
    padding-left: inherit;
    height: auto;
    font-size: 20px;
}

.item-select select {
    max-width: inherit;
    font-size: 16px;
}
.item-select select.cl-white {
    color: #fff;
    background: #00bfd4;
}
.item-radio input:checked + .radio-content .item-content {
    background: #00a7b9;
    background: -webkit-linear-gradient(#01bcd1, #00a7b9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01bcd1, #00a7b9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01bcd1, #00a7b9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01bcd1, #00a7b9); /* Standard syntax */
    border-color: #359eb5;
}
.item-radio input:checked + .radio-content .radio-icon {
    color: #fff;
}
.item-radio.cl-pad-all {
    padding: 0;
}
.item-radio .item-content {
    background: none;
}
    .item-radio input:checked + .radio-content .item-content {
	color: #fff;
    }

.validForm {
    display: block;
    padding: 5px;
}
    .validForm p {
	margin: 2px 0;
    }

.list-inset .item.rad4-toplr {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-inset .item.rad4-bottomlr {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.list-inset .item.item-input input {
    padding-right: 15px;    
}
.item-input .icon {
   min-width: 34px; 
}

/* Bootstrap */

label {
    margin-bottom: 0;
    font-weight: normal;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

md-toolbar .dropdown-menu.min-wd {
    width: auto;
    min-width: auto;
}
md-toolbar .dropdown-menu>li>a {
    padding: 10px 20px;
}
md-toolbar .dropdown-menu .divider {
    margin: 0;
}

/* Angular Material */

.layout-center {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
    .layout-center p {
	margin: 0;
    }
    .layout-center .md-avatar {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	flex: none;
	width: 44px;
	height: 44px;
	margin: 4px 8px 4px 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	box-sizing: content-box;
    }
    .layout-center .md-logo {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	flex: none;
	width: 100%;
	height: 150px;
	margin: 16px 8px 4px 0;
	box-sizing: content-box;
    }

md-content {
    background: #fff;    
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #00bfd4;    
}
    md-toolbar.md-default-theme:not(.md-menu-toolbar).lvr-t2, md-toolbar:not(.md-menu-toolbar).lvr-t2 {
        background-color: #fff;    
    }
    md-toolbar.md-default-theme:not(.md-menu-toolbar).sd-t2, md-toolbar:not(.md-menu-toolbar).sd-t2 {
        background-color: #fff;    
    }

.selectMulti {}
    .selectMulti .searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .selectMulti .selHeader {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }
    .selectMulti md-content._md {
        max-height: 240px;
    }

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}
    .dialogdemoBasicUsage .footer {
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }
        .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
            font-size: 0.8em;
            margin-top: 50px;
        }

.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon,
.md-datepicker-open .md-datepicker-calendar-icon {
    color: #00bfd4;
}
.md-datepicker-input-container.md-datepicker-focused {
    border-bottom-color: #00bfd4;
}
.md-calendar-day-header th {
    height: auto;
    padding: 10px 0;
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #00bfd4;    
}
.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #00bfd4; 
}

md-input-container input[type="tel"] {
    font-size: 20px;
}

md-input-container:not(.md-input-has-value) input:not(:focus),
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
    color: rgba(0,0,0,0.12);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label,
md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #00bfd4;
    font-weight: normal;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #00bfd4;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: #00bfd4;
} 
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #00bfd4;
}

md-input-container.md-icon-float > md-icon {
    top: 5px;
}
md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder {
    width: 100%;
    -webkit-transform: translate3d(0, 31px, 0) scale(1);
    transform: translate3d(0, 31px, 0) scale(1); 
}
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 14px, 0) scale(0.75);
    transform: translate3d(0, 14px, 0) scale(0.75); 
}
    .sd-cn-cart md-input-container.md-input-focused label:not(.md-no-float),
    .sd-cn-cart md-input-container.md-input-has-placeholder label:not(.md-no-float),
    .sd-cn-cart md-input-container.md-input-has-value label:not(.md-no-float) {
        -webkit-transform: translate3d(0, 10px, 0) scale(0.75);
        transform: translate3d(0, 10px, 0) scale(0.75); 
    }
md-input-container.md-icon-float.md-input-focused label,
md-input-container.md-icon-float.md-input-has-value label {
    width: 100%;
    -webkit-transform: translate3d(0, 14px, 0) scale(0.75);
    transform: translate3d(0, 14px, 0) scale(0.75); 
}
md-input-container.md-default-theme label, md-input-container label,
md-input-container.md-default-theme .md-placeholder,
md-input-container .md-placeholder {
    color: #f0ad4e;
    font-size: 16px;
}


md-select span {
    position: relative;
    padding: 0 8px;
}
md-select.md-default-theme .md-select-value,
md-select .md-select-value {
    padding: 0;
}
md-select:not([disabled]).ng-invalid.ng-touched .md-select-value {
    padding-bottom: 0;
}
md-select.md-default-theme .md-select-value.md-select-placeholder,
md-select .md-select-value.md-select-placeholder {
    color: #f0ad4e;
}
    .md-select-value.md-select-placeholder {
	padding-left: 0;
    }
    .md-select-value .md-select-icon {
	width: 40px;
	height: 100%;
	background: #ff5200;
	background: -webkit-linear-gradient(#ff7c00, #ff5200); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ff7c00, #ff5200); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ff7c00, #ff5200); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ff7c00, #ff5200); /* Standard syntax */
	margin: 0;
	padding: 10px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	-webkit-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, 0px, 0); 
    }

md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder,
md-select:not([disabled]):focus .md-select-value.md-select-placeholder {
    color: #00bfd4;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value,
md-select:not([disabled]):focus .md-select-value {
    border-color: #fff;
}
md-select:not([disabled]):focus .md-select-value {
    border-bottom-width: 0px; 
}

md-select-menu.md-default-theme md-option[selected],
md-select-menu md-option[selected] {
    color: #00bfd4;
}
    md-select-menu.md-default-theme md-option[selected]:focus,
    md-select-menu md-option[selected]:focus {
        color: #00bfd4;
    }
md-select-menu md-content md-option[selected] {
    color: #00bfd4;
}
    md-select-menu md-content md-option[selected]:focus {
	color: #00bfd4;
    }

.md-checkbox-enabled.md-default-theme[selected] .md-icon,
.md-checkbox-enabled[selected] .md-icon {
    background: #00bfd4;
}

md-input-container .md-errors-spacer {
    display: none;
}
md-input-container.md-default-theme.md-input-invalid.md-input-focused label,
md-input-container.md-input-invalid.md-input-focused label {
    color: #f0ad4e;
}
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input {
    border-color: #f0ad4e;
}

md-grid-tile img {
    max-width: 100%;
    height: auto;
}
md-grid-tile .md-avatar {
    width: 100%;
    height: 100%;
}

md-list-item.md-no-proxy {
    padding: 2px 0;
}
md-list-item .md-avatar {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

md-grid-list md-grid-tile md-grid-tile-footer figcaption {
    width: 100%;
}

.card-media {
    background-color: #999999;
}

/* Container & Clear */

#container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
    #container:before,
    #container:after,
    #content:before,
    #content:after,
    form:before,
    form:after,
    ul:before,
    ul:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
    }
    #container:after,
    #content:after,
    form:after,
    ul:after {
	clear: both;
    }
#container-over {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
    #container-over:before,
    #container-over:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
    }
    #container-over:after {
	clear: both;
    }

.clean {
    clear: both;
}

.disp-none {
    display: none;
}
.disp-block {
    display: block;
}
.disp-inblock {
    display: inline-block;
}
.wd-100 {
    width: 100%;
}
.wd-50 {
    width: 50%;
}
.min-wd {
    width: auto;
    min-width: auto;
}
.max-wd {
    width: auto;
    max-width: auto;
}
.hg-100 {
    height: 100%;
}
.hg-95 {
    height: 92%;
}
.hg-50 {
    height: 50%;
}
.hg-5 {
    height: 8%;
}
.min-hg {
    height: auto;
    min-height: auto;
}
.max-hg {
    height: auto;
    max-height: auto;
}

/* Position */

.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.pos-abs-r8 {
    position: absolute;
    right: 8px;
}


/* Margin & Padding */

.cl-mg-all {
    margin: 0;
}
.cl-mg-l {
    margin-left: 0;
}
.cl-mg-r {
    margin-right: 0;
}
.cl-mg-t {
    margin-top: 0;
}
.cl-mg-b {
    margin-bottom: 0;
}
.cl-mg-lr {
    margin-left: 0;
    margin-right: 0;
}
.cl-mg-tb {
    margin-top: 0;
    margin-bottom: 0;
}

.mg-all-4 {
    margin: 4px;    
}
.mg-all-8 {
    margin: 8px;    
}
.mg-all-10 {
    margin: 10px;    
}
.mg-all-20 {
    margin: 20px;    
}

.mg-t-5 {
    margin-top: 5px;
}
.mg-b-5 {
    margin-bottom: 5px;
}
.mg-l-5 {
    margin-left: 5px;
}
.mg-r-5 {
    margin-right: 5px;
}

.mg-t-8 {
    margin-top: 8px;
}
.mg-b-8 {
    margin-bottom: 8px;
}
.mg-l-8 {
    margin-left: 8px;
}
.mg-r-8 {
    margin-right: 8px;
}
.mg-lr-8 {
    margin-left: 8px;
    margin-right: 8px;
}
.mg-tb-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mg-t-10 {
    margin-top: 10px;
}
.mg-b-10 {
    margin-bottom: 10px;
}
.mg-l-10 {
    margin-left: 10px;
}
.mg-r-10 {
    margin-right: 10px;
}
.mg-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mg-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mg-t-20 {
    margin-top: 20px;
}
.mg-b-20 {
    margin-bottom: 20px;
}
.mg-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.mg-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cl-pad-all {
    padding: 0;
}
.cl-pad-l {
    padding-left: 0;
}
.cl-pad-r {
    padding-right: 0;
}
.cl-pad-t {
    padding-top: 0;
}
.cl-pad-b {
    padding-bottom: 0;
}
.cl-pad-lr {
    padding-left: 0;
    padding-right: 0;
}
.cl-pad-tb {
    padding-top: 0;
    padding-bottom: 0;
}

.pad-all-4 {
    padding: 4px;    
}
.pad-all-8 {
    padding: 8px;    
}
.pad-all-10 {
    padding: 10px;    
}
.pad-all-20 {
    padding: 20px;    
}

.pad-lr-4 {
    padding-left: 4px;
    padding-right: 4px;
}
.pad-tb-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pad-t-5 {
    padding-top: 5px;
}
.pad-b-5 {
    padding-bottom: 5px;
}
.pad-l-5 {
    padding-left: 5px;
}
.pad-r-5 {
    padding-right: 5px;
}

.pad-t-8 {
    padding-top: 8px;
}
.pad-b-8 {
    padding-bottom: 8px;
}
.pad-l-8 {
    padding-left: 8px;
}
.pad-r-8 {
    padding-right: 8px;
}
.pad-lr-8 {
    padding-left: 8px;
    padding-right: 8px;
}
.pad-tb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pad-t-10 {
    padding-top: 10px;
}
.pad-b-10 {
    padding-bottom: 10px;
}
.pad-l-10 {
    padding-left: 10px;
}
.pad-r-10 {
    padding-right: 10px;
}
.pad-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-t-20 {
    padding-top: 20px;
}
.pad-b-20 {
    padding-bottom: 20px;
}
.pad-l-20 {
    padding-left: 20px;
}
.pad-r-20 {
    padding-right: 20px;
}
.pad-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.pad-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Background */

.bg-grey {
    width: 100%;
    background: #f3f3f3;
}
.bg-green {
    background: #00bfd4;
}
.bg-white {
    background: rgba(255,255,255,0.5);
}
.bg-white-full {
    background: #fff;
}

/* Color */

.cl-white {
    color: #fff;
}
.cl-black {
    color: #4a4a4a;
}
.cl-grey {
    color: #808080;
}

/* Font Size */

.ff-12 {
    font-size: 12px;
}
.ff-14 {
    font-size: 14px;
}
.ff-16 {
    font-size: 16px;
}
.ff-18 {
    font-size: 18px;
}
.ff-20 {
    font-size: 20px;
}

/* Text Style */

.ff-comma:after {
    content: ", ";
}
.ff-comma:last-child:after {
    content: "";  
}

/* Text Color */

.ff-grey {
    color: #6a6a6a;
}
.ff-grbold {
    color : #4f4f4f;
}
.ff-grsoft {
    color : #9f9f9f;
}
.ff-grbright {
    color : #d2d2d2;
}
.ff-alert {
    color : #e60000;
}
.ff-maroon {
    color: #ba370f;
}

/* Text Align */

.txl-left {
    text-align: left;
}
.txl-right {
    text-align: right;
}
.txl-center {
    text-align: center;
}
.txl-justify {
    text-align: justify;
}

/* Text Transform */

.txl-cp {
    text-transform: capitalize;
}
.txl-up {
    text-transform: uppercase;
}

/* Button */

.layout-center .btn-primary,
.layout-center .btn-warning,
.layout-center .btn-blue,
md-list-item .btn-primary,
md-list-item .btn-warning,
md-list-item .btn-blue {
    width: 55px;
    margin-bottom: 0px;
    padding: 12px 16px;
}
.popup-buttons .btn-primary,
.popup-buttons .btn-warning,
.popup-buttons .btn-blue {
    margin-bottom: 0px;
}
.lvr-tc1 .btn-primary,
.lvr-t1 .btn-primary,
.sd-t1 .btn-primary {
    margin: 8px 8px 8px 0;
}
.btn-primary.cl-btn,
.btn-default.cl-btn,
.btn-warning.cl-btn,
.btn-danger.cl-btn,
.btn-blue.cl-btn {
    margin-bottom: 0px;
}
td .btn-primary,
td .btn-default,
td .btn-warning,
td .btn-danger,
td .btn-blue {
    margin-bottom: 0px;
}
.btn-primary,
.btn-default,
.btn-warning,
.btn-danger,
.btn-blue {
    font-size: 18px;
    margin-bottom: 10px;
}
.btn-primary {
    outline: none;
    color: #fff;
    background: #ff5200;
    background: -webkit-linear-gradient(#ff7c00, #ff5200); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff7c00, #ff5200); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff7c00, #ff5200); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff7c00, #ff5200); /* Standard syntax */
    border-color: #cb6c33;
}
    .btn-primary[disabled]:hover,
    .btn-primary:hover {
	color: #fff;
        background: #f45000;
	background: -webkit-linear-gradient(#ec7000, #f45000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ec7000, #f45000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ec7000, #f45000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ec7000, #f45000); /* Standard syntax */
        border-color: #c76a32;
    }
    .btn-primary:focus {
	outline: none;
	color: #a83600;
        background: #f45000;
	background: -webkit-linear-gradient(#ec7000, #f45000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ec7000, #f45000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ec7000, #f45000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ec7000, #f45000); /* Standard syntax */
        border-color: #c76a32;
    }
    .btn-primary:active {
        background: #f45000;
        border-color: #c76a32;
    }
        .btn-primary:active:hover,
        .btn-primary:active:focus {
	    color: #fff;
            background: #f45000;
	    border-color: #c76a32;
        }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus,
    .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
        background: #f45000;
        border-color: #c76a32;
    }
    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
        background: #f45000;
        border-color: #c76a32;
    }
.btn-blue {
    outline: none;
    color: #fff;
    background: #00b1c3;
    background: -webkit-linear-gradient(#01c1d6, #00b1c3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01c1d6, #00b1c3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01c1d6, #00b1c3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01c1d6, #00b1c3); /* Standard syntax */
    border-color: #37a1b9;
}
    .btn-blue[disabled]:hover,
    .btn-blue:hover {
	color: #fff;
        background: #00a7b9;
	background: -webkit-linear-gradient(#01bcd1, #00a7b9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#01bcd1, #00a7b9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#01bcd1, #00a7b9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#01bcd1, #00a7b9); /* Standard syntax */
        border-color: #359eb5;
    }
    .btn-blue:focus {
	outline: none;
	color: #006975;
        background: #00a7b9;
	background: -webkit-linear-gradient(#01bcd1, #00a7b9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#01bcd1, #00a7b9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#01bcd1, #00a7b9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#01bcd1, #00a7b9); /* Standard syntax */
        border-color: #359eb5;
    }
    .btn-blue:active {
        background: #00a7b9;
        border-color: #359eb5;
    }
        .btn-blue:active:hover,
        .btn-blue:active:focus {
	    color: #fff;
            background: #00a7b9;
	    border-color: #359eb5;
        }
    .btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus,
    .btn-blue:active:focus, .btn-blue:active:hover, .open>.dropdown-toggle.btn-blue.focus,
    .open>.dropdown-toggle.btn-blue:focus, .open>.dropdown-toggle.btn-blue:hover {
	color: #fff;
        background: #00a7b9;
        border-color: #359eb5;
    }
    .btn-blue.active, .btn-blue:active, .open>.dropdown-toggle.btn-blue {
        background: #00a7b9;
        border-color: #359eb5;
    }
.btn-grey {
    padding: 10px 12px;
    outline: none;
    color: #5d5d5c;
    background: #dcdcdc;
    background: -webkit-linear-gradient(#fefefe, #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fefefe, #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fefefe, #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fefefe, #dcdcdc); /* Standard syntax */
    border-color: #cbcbcb;
}
    .btn-grey[disabled]:hover,
    .btn-grey:hover {
	color: #5d5d5c;
        background: #d7d7d7;
	background: -webkit-linear-gradient(#f7f7f7, #d7d7d7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f7f7f7, #d7d7d7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f7f7f7, #d7d7d7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f7f7f7, #d7d7d7); /* Standard syntax */
        border-color: #c5c5c5;
    }
    .btn-grey:focus {
	outline: none;
	color: #828282;
        background: #d7d7d7;
	background: -webkit-linear-gradient(#f7f7f7, #d7d7d7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f7f7f7, #d7d7d7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f7f7f7, #d7d7d7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f7f7f7, #d7d7d7); /* Standard syntax */
        border-color: #c5c5c5;
    }
    .btn-grey:active {
        background: #d7d7d7;
        border-color: #c5c5c5;
    }
        .btn-grey:active:hover,
        .btn-grey:active:focus {
	    color: #5d5d5c;
            background: #d7d7d7;
	    border-color: #c5c5c5;
        }
    .btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus,
    .btn-grey:active:focus, .btn-grey:active:hover, .open>.dropdown-toggle.btn-grey.focus,
    .open>.dropdown-toggle.btn-grey:focus, .open>.dropdown-toggle.btn-grey:hover {
	color: #5d5d5c;
        background: #d7d7d7;
        border-color: #c5c5c5;
    }
    .btn-grey.active, .btn-grey:active, .open>.dropdown-toggle.btn-grey {
        background: #d7d7d7;
        border-color: #c5c5c5;
    }
.btn-file {
    position: relative;
    overflow: hidden;
}
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
md-toolbar button.btn-mini {
    min-width: auto;
    padding: 6px 10px;
}
md-toolbar button.ff-grey {
    font-size: 24px;
}
md-toolbar button.ff-maroon {
    color: #ba370f;
    font-size: 24px;
}
    .set-clear {
        margin: 0 0 0 5px;
    }

/* Overflow */    

.over-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.over-hidden {
    overflow: hidden;
}
    
/* Themes */

a {
    color: #6a6a6a;
    cursor: pointer;
}
    a:hover {
        color: #4f4f4f;
        text-decoration: none;
    }

.bg-login {
    background: #00bfd4;
}
.rel-pos {
    position: relative;
    min-height: 100%;
    height: 100%;
}
.abs-pos {
    position: absolute;
    min-width: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-login {
    max-width: 450px;
    padding: 60px;
}
    .box-login .logo {
        display: block;
        min-width: 200px;
        height: 150px;
        background: url('../img/logo.png') no-repeat center center;
        background-size: contain;
        margin: 0 40px 30px 40px;
    }
    .box-login md-input-container {
        margin: 0 0 14px 0;
    }
    .box-login md-input-container.md-default-theme .md-input,
    .box-login md-input-container .md-input {
        color: #6a6a6a;
    }
    .box-login md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label,
    .box-login md-input-container:not(.md-input-invalid).md-input-has-value label {
        color: #6a6a6a;
        font-weight: normal;
    }
    .box-login md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
    .box-login md-input-container:not(.md-input-invalid).md-input-focused label {
        color: #6a6a6a;
    }    
    .box-login md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
    .box-login md-input-container:not(.md-input-invalid).md-input-focused .md-input {
        border-color: #6a6a6a;
    }
    .box-login md-input-container.md-default-theme label,
    .box-login md-input-container label,
    .box-login md-input-container.md-default-theme .md-placeholder,
    .box-login md-input-container .md-placeholder {
        color: #6a6a6a;
    }
    .box-login md-select span {
        color: #6a6a6a;
    }
    .box-login md-input-container > md-select {
	
    }
    
.box-menu {
    background: #00bfd4;   
}
    .box-menu .bg-logo {
	width: 170px;
        height: 75px;
	background: #ebebeb;
	background: -webkit-linear-gradient(#fdfdfd, #ebebeb); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fdfdfd, #ebebeb); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fdfdfd, #ebebeb); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fdfdfd, #ebebeb); /* Standard syntax */
	padding: 10px;
    }
    .box-menu .logo {
        display: block;
        width: 100%;
        height: 54px;
        background: url('../img/logivar-logo.png') no-repeat center center;
        background-size: contain;
    }
    .box-menu .title {
        margin: 20px;
        color: #fff;
        font-size: 25px;
        text-transform: capitalize;
    }
    .box-menu .btn-menu {
        margin: 0;
	padding: 0 20px;
    }

.setting md-dialog {
    opacity: 1;
    width: 100%;
    max-width: 100%;
}

.main-menu {
    background: none;
    border: none;
    padding: 20px 15px;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
}
    .main-menu.activated {
	background: rgba(0,0,0,0.2);
    }
    .main-menu .fa {
        font-size: 20px;
    }
    .main-menu span {
        font-size: 20px;
    }

/*.rc md-icon {
    margin: 3px;
}*/
    .rc md-icon.fa {
        color: #4f4f4f;
        font-size: 18px;
    }
    .rc .pad-lr {
        padding: 0 8px;
    }
    .rc .pad-tb {
        padding: 4px 0;
    }
    .rc .pad-all-10 {
        padding: 10px;
    }
    .rc .showLibrary p {
	color: #6a6a6a;
        text-transform: capitalize;
    }
    .rc .showCprice .ff-20  {
	font-size: 20px;
    }
    .rc .bg-green {
        background: #00bfd4;
    }
    .toolbar1 .bg-green {
        background: #00bfd4;
    }
    
.lvr-tc2 .ff-20 {
    font-size: 20px;
}
.lvr-tc2 .fa-barcode {
    margin-right: 10px;
    color: #ff5200;
    font-size: 20px;
}

.sd-cn-cart md-icon {
    margin-top: 2px;
    margin-left: 2px;
}
    .sd-cn-cart md-icon.fa {
        color: #4f4f4f;
        font-size: 18px;
    }
.sd-cn-cart .item {
    color: #4f4f4f;
}
.sd-cn-cart .pad-all-10 {
    padding: 10px;
}
.sd-cn-cart .ff-16 {
    font-size: 16px;
}

.sw-button {
    height: 47px;
}
    .sw-button button {
	height: 39px;
	font-size: 18px;
    }
    .sw-button label {
	font-size: 16px;
    }
.tab-button {
    height: 64px;
}
    .tab-button button {
	height: 64px;
	font-size: 20px;
    }
    .tab-button label {
	font-size: 18px;
	text-transform: uppercase;
    }

.xprint md-list-item img {
    width: 20px;
    height: 20px;
}

/* Border */

.bod-all {
    border: 1px solid rgba(0,0,0,0.12);
}
.bod-tb {
    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.bod-tb-dash {
    border-top: 1px dashed rgba(0,0,0,0.12);
    border-bottom: 1px dashed rgba(0,0,0,0.12);
}
.bod-top {
    border-top: 1px solid gba(0,0,0,0.12);
}
.bod-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.bod-blue {
    border: 1px solid #00c0d5;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.bod-abs-blue {
    position: absolute;
    width: 100%;
    bottom: 10px;
    border-bottom: 14px solid #00bfd4;
}
.bod-abs-orange {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 10px solid #f36b24;
}
.bod-abs-orange-dash {
    position: absolute;
    width: 100%;
    bottom: 9px;
    border-bottom: 8px solid #f36b24;
}

/* Border Radius */

.cl-bod-all {
    border: none;
}
.cl-bod-rad {
    border-radius: 0;
}
.cl-bod-shadow {
    box-shadow: 0 0 0 0;
}
.bod-rad4 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px; 
}

/* Circle & Square */

.bg-square-green {
    background: #00bfd4;
    border: 15px solid #00bfd4;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -o-border-radius: 10%;
}
.bod-square {
    position: relative;
   /* width: 100%;*/ /* Responsive */
    margin: 10px auto;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: crosshair;
    overflow: hidden;
    z-index: 9;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
    .bod-square:after {
        content: "";
        display: block;
	background: #fff;
        width: 100%;
        height:0;
        padding-bottom: 100%;
        -moz-border-radius: 10%; 
        -webkit-border-radius: 10%; 
        border-radius: 10%;
    }
    .bod-square img{
        position: absolute;
        background: #fff;
        max-width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: crosshair;
    }

.bod-wd-50 {
    width: 50%;
}
.bod-wd-60 {
    width: 60%;
}
.bod-wd-75 {
    width: 75%;
}
.bod-wd-100 {
    width: 100%;
}
.bg-circle-green {
    background: #00bfd4;
    border: 4px solid #00bfd4;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.bod-circle {
    position: relative;
   /* width: 100%;*/ /* Responsive */
    margin: 10px auto;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: crosshair;
    overflow: hidden;
    z-index: 9;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
    .bod-circle:after {
        content: "";
        display: block;
        width: 100%;
        height:0;
        padding-bottom: 100%;
        -moz-border-radius: 50%; 
        -webkit-border-radius: 50%; 
        border-radius: 50%;
    }
    .bod-circle .circle-abs {
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        color: #fff;
        text-align: center;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        line-height: 180%;
    }
    .bod-circle img{
        position: absolute;
        background: #fff;
        max-width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: crosshair;
    }
    
/* Loading */

.spinner svg {
  width: 60px;
  height: 60px;
  stroke: #b4b4b4;
  fill: #408080;
}

/* Slide Animate */

/*.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  display:block;
}
.slide-animate.ng-enter {
  margin-top: -100%;
}
.slide-animate.ng-enter.ng-enter-active {
  margin-top:0;
}
.slide-animate.ng-leave {
  margin-top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  margin-top: 100%;
}*/